main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tabelas_consultas{
    margin: 50px;
}

table {
    width: 100%;
    background-color: rgba(223, 222, 222, 0.411);
    font-size: 1.2rem;
}


thead td {
    background-color: rgb(192, 187, 187);
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
}

td {
    padding: 10px;
}

.icones {
    display: flex;
    justify-content: center;
}

img {
    margin: auto;
    height: 2rem;
    width: 2rem;
}

td,
th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #e2e1e1;
}

.icones:hover {
    cursor: pointer;
}